*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    height: 580px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin:10px;
    display:block;
    position:relative;
    top:15px;
    
   
    
   }
   #navigation{
    min-height: 300px;
    width: 180px;
    background-color: blue;
    margin-left:10px;
    display:inline-block;
    position:relative;
    top:20px;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin-top:-10px;
    display:inline-block;
    margin-bottom:20px;
    margin-left:10px;
    position:absolute;
    top:190px;
    right:45px;
   }
   .subcontents{
    min-height: 200px;
    width: 200px;
    background-color:yellow;
    display:inline-block;
    left:750px;
    margin-top:10px;
    margin-left:10px;

   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    position:absolute;
    top:230px;
    vertical-align: sub;
    margin:10px;
   }